///////////////////////////////////////
// Login page                        //
///////////////////////////////////////

.login .panel
    background-color white
    border 1px solid $gray-light
    border-radius $basic-border-radius
    padding 2*$line 2em
    max-width 30em
    margin 2*$line auto
    
    button
        width 100%

    h1
        display none