.alert
    margin 1rem 0
    padding 1rem
    border-radius $basic-border-radius
    color white
    &.alert-success
        background-color lighten($green, 40%)


    &.alert-danger
        background-color lighten($red, 40%)