#navigation
    border-bottom 1px solid $gray-light
    padding ($line / 2) 0
    clearfix()
    
    li
        display inline-block
        
        a
            font-size 1em
            color $gray
            text-decoration none
            display block
            padding ($line /2) 0.5em
            
            &:hover
                color $blue
                
    ul.primary
        float left
        
    ul.secondary
        float right