table
    margin $line 0 2*$line 0
    width 100%
  
th, td
    padding ($line / 2) 0

th
    border-bottom 1px solid lighten($gray, 20%)
    
td
    border-bottom 1px solid $gray-light

tr.empty
    color $gray
    font-style italic
