.button.edit {
  @include button($color-button-edit-text, $color-button-edit);
}

.button.delete {
  @include button($color-button-delete-text, $color-button-delete);
}

.button .material-icons {
  font-size: 20px;
  line-height: $button-base-line;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
