body.login {
  background-color: $color-darkgray;

  .row {
    height: 100%;
  }

  .site-name {
    margin-bottom: $base-line;
  }
}

.login-box {
  border-radius: $base-border-radius;
  background-color: $color-white;
  padding: 2rem;
  margin: 0 auto;
}