// COLORS
// ---------------------------------------------------------------------------

$color-white: #fff;

// Button
$color-button-edit-text: $color-white;
$color-button-edit: #f7ba45;

$color-button-delete-text: $color-white;
$color-button-delete: #ff2e63;