@import "_variables";
@import "../kube/kube";
@import "_buttons";
@import "_forms";
@import "_login";
@import "_sidebar";
@import "_content";

///////////////////////////////////////
// Layout                            //
///////////////////////////////////////

html, body {
  height: 100%;
}

#main-container, #sidebar {
  min-height: 100%;
}

#main-container {
  @include grid-row;
}

#sidebar {
  @include flex-item-width(270px);
  display: flex;
  flex-direction: column;

  .sidebar-content {
    flex-grow: 1;
  }
}

#content {
  @include flex-item-one;
}

.sidebar-heading, .content-heading {
  height: 3*$base-line;
}

.row.no-margin {
  margin: 0;
}

.container {
  padding: 0 2rem;
}

.dropdown.open {
  overflow: hidden;
}

.topbar {
  padding: $base-line/2 2rem;
}

.box {
  //padding: $base-line 2rem;
}

.spaced {
  padding-top: $base-line/2;
  padding-bottom: $base-line/2;
}

///////////////////////////////////////
// Tables                            //
///////////////////////////////////////
table th.actions {
  visibility: hidden;
}
table td.actions {
  text-align: right;
}

td {
  vertical-align: middle;
}
