///////////////////////////////////////
// Basic variables                   //
///////////////////////////////////////

@import "nib"

global-reset()

*
    box-sizing border-box

$line = 20px
$basic-font-family = 'Source Sans Pro', sans-serif

$basic-border-radius = 2px
$blue = #72A1D8
$dark = #333
$gray = #777
$green = #87C966
$gray-light = lighten($gray, 80%)
$orange = #FFC97A
$red = #F63F49

@import "_basic/*"
@import "_partials/*"